simpleTime: true
groupedDays: true
shortenGroupedDays: true
additionalMessage: "Closed on saturday during winter"
opening-hours:
  Summer:
    valid-from: 04-01
    valid-to: 10-01
    times:
      Monday:
        open: 07:00
        close: 17:00
        group: 1
      Tuesday:
        open: 07:00
        close: 17:00
        group: 1
      Wednesday:
        open: 07:00
        close: 17:00
        group: 1
      Thursday:
        open: 07:00
        close: 17:00
        group: 1
      Friday:
        open: 07:00
        close: 16:00
        group: 2
      Saturday:
        open: 08:00
        close: 12:00
        group: 3
  Winter:
    valid-from: 10-01
    valid-to: 04-01
    times:
      Monday:
        open: 07:00
        close: 17:00
        group: 1
      Tuesday:
        open: 07:00
        close: 17:00
        group: 1
      Wednesday:
        open: 07:00
        close: 17:00
        group: 1
      Thursday:
        open: 07:00
        close: 17:00
        group: 1
      Friday:
        open: 07:00
        close: 16:00
        group: 2
#templates:
#    default: extensions/gigabit-opening-times/default.twig
#    overview: extensions/gigabit-opening-times/overview.twig