{% from "_partials/hour_rows.twig" import showOpeningHoursRow %}

<table class="table table-responsive">
    {% if groupedDays %}
        {% for group in openingHoursGrouped %}
            {% set firstOpeningDay = group|keys|first %}
            {% set lastOpeningDay = group|keys|last %}

            {% set displayDay = firstOpeningDay %}
            {% if firstOpeningDay != lastOpeningDay %}
                {% if shortenGroupedDays %}
                    {% set displayDay = __(displayDay ~ '.short') ~ " - " ~ __(lastOpeningDay ~ '.short') %}
                {% else %}
                    {% set displayDay = __(displayDay) ~ " - " ~ __(lastOpeningDay) %}
                {% endif %}
            {% else %}
                {% set displayDay = __(displayDay) %}
            {% endif %}

            {{ showOpeningHoursRow(displayDay, group|first, group|last) }}
        {% endfor %}
    {% else %}
        {% for day, opening in openingHours %}
            {% set openTime = opening.open|simpleTime(displaySimpleTime) %}
            {% set closeTime = opening.close|simpleTime(displaySimpleTime) %}
            {{ showOpeningHoursRow(__(day), openTime, closeTime) }}
        {% endfor %}
    {% endif %}
</table>
{% if additionalMessage|length > 0 %}
    <p>{{ __(additionalMessage) }}</p>
{% endif %}
